@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "rodal/lib/rodal.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.drop-zone {
    transition: background-color 0.2s ease;
  }
  
  .drop-zone:hover {
    background-color: #f8f9fa;
  }
  
  .card {
    cursor: grab;
    transition: transform 0.2s ease;
  }
  
  .card:active {
    cursor: grabbing;
    transform: scale(1.02);
  }
  